# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*$py.class

# -------------------------
# Virtual Environments
# -------------------------
.venv/
venv/
env/
ENV/

# -------------------------
# Build
# -------------------------
build/
dist/
*.egg-info/

# -------------------------
# Test
# -------------------------
.pytest_cache/
.coverage
coverage/
htmlcov/

# -------------------------
# IDE
# -------------------------
.vscode/
.idea/

# -------------------------
# OS
# -------------------------
.DS_Store
Thumbs.db
desktop.ini

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Temporary
# -------------------------
*.tmp
*.bak
*.swp
*~
